## Question 2

a.	How many orders were shipped by Speedy Express in total?

SELECT COUNT(*) AS NumberOfOrders
FROM [Orders] 
JOIN [Shippers] 
	ON [Shippers].ShipperID = [Orders].ShipperID
WHERE [Shippers].ShipperName = 'Speedy Express'

-	The above query will return 54.

b.	What is the last name of the employee with the most orders?

SELECT [Employees].LastName, COUNT(*) AS NumberOfOrders
FROM [Orders]
JOIN [Employees]
	ON [Orders].EmployeeID = [Employees].EmployeeID
GROUP BY [Employees].LastName
ORDER BY NumberOfOrders DESC
LIMIT 1;

-	The above query will return “Peacock” with 40 orders total.

c.	What product was ordered the most by customers in Germany?

SELECT Products.ProductName FROM Orders
JOIN Products
    ON Products.ProductID = OrderDetails.ProductID
JOIN OrderDetails
    ON OrderDetails.OrderID = Orders.OrderID
JOIN Customers
    ON Customers.CustomerID = Orders.CustomerID
WHERE [Customers].Country = 'Germany'
GROUP BY [OrderDetails].ProductID
ORDER BY SUM([OrderDetails].Quantity) DESC 
LIMIT 1;

-	The above query will return “Boston Crab Meat”